DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost
SERPAPI_KEY=
EVENTBRITE_TOKEN=
MEETUP_TOKEN=
OPENCAGE_KEY=
EVENTBOT_ADMIN_USER=admin
EVENTBOT_ADMIN_PASS=admin123
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=
EMAIL_USE_TLS=1
DEFAULT_FROM_EMAIL=noreply@example.com
